@model WebTest.Models.GuestResponse

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Imię i Nazwisko: @Html.TextBoxFor(x => x.Name) </p>
    <p>Twój e-mail: @Html.TextBoxFor(x => x.Email) @Html.ValidationMessageFor(x => x.Email)</p>
    <p>Twój telefon: @Html.TextBoxFor(x => x.Phone)</p>
    <p>
        Czy Przyjdziesz na przyjęcie?
        @Html.DropDownListFor(x => x.WillAttend, new[]
        {
            new SelectListItem() {Text = "Tak przyjdę.", Value=bool.TrueString},
            new SelectListItem() {Text = "Nie, nie przyjdę.", Value=bool.FalseString}
        }   , "Wybierz opcję")
    </p>
    <input type="submit" value="Wyślij zawiadomienie" />



}